{% extends "layout.html" %}
{% block content %}

<div id="header">
	<div class="wrap">
		<div id="branding">
			<div class="logo"></div>
			<div class="tagline">Weibo Friends Graph</div>
		</div>
		<ul class="nav">
			<li class="home selected"><a href="/">Home</a></li>
			<li class="detail"><a>detail</a></li>
			<li class="crawl"><a id="crawl-btn">crawl</a></li>
			<li class="search">
				<input type="text" name="search" id="search" placeholder="Search">
			</li>
			<div class="bubble-box">
				<form action="/crawl" method="post">
					<input type="text" name="crawl_uid" id="crawl_uid" placeholder="uid for crawl">
					<input type="text" name="username" id="username" placeholder="account">
					<input type="password" name="pwd" id="pwd" placeholder="password">
					<input type="submit" value="Start Crawl" id="login-btn">
				</form>
			</div>
		</ul>
	</div>
</div>
<hr class="hide">
<div id="body">
	<div class="wrap">
		<div class="graph">
			<iframe src="" frameborder="0"></iframe>
		</div>
	</div>
</div>
<div id="footer"></div>
{% endblock %}