* {
	margin: 0 0;
	padding: 0 0;
}
*:focus {
	outline: none;
}
body {
	font-family: verdana,sans-serif;
	font-size: 12px;
	line-height: 1.8em;
	background: #19191a;
	text-align: center;
	min-width: 960px;
}
ol, ul {
list-style: none;
}
div {
	display: block;
}
a {
	text-decoration: none;
}
.hide {
	display: none;
}

#header {
	float: left;
	background: #fff;
	width: 100%;
	min-width: 960px;
	height: 120px;
	clear: both;
	display: inline;
}
.wrap {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}
#branding {
	float: left;
	width: 380px;
	height: 120px;
}
	#branding .logo {
		float: left;
		width: 100px;
		height: 100px;
		margin: 5px 0;
		background: url(/static/images/logo.png) no-repeat;
		background-size: 100% 100%;
	}
	#branding .tagline {
		float: left;
		width: 220px;
		height: 40px;
		margin: 40px 0 40px 20px;
		color: #76a0c0;
		font-size: 160%;
		font-weight: bold;
		line-height: 40px;
	}
#header .nav {
	float: right;
	width: 500px;
	height: 40px;
	margin: 40px 30px 40px 0;
	border-radius: 10px;
	background-color: #eee;
}
#header .nav li {
	float: left;
	height: 40px;
}
#header .nav li:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#header .nav li:last-child { 
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#header .nav li:hover {
	background-color: #dadada;
}
#header .nav a {
	float: left;
	width: 92px;
	height: 40px;
	color: #76a0c0;
	font-size: 130%;
	text-align: center;
	line-height: 40px;
}
#header .nav a:hover {
	cursor: pointer;
}

#search-input {
	width: 215px;
	height: 30px;
	margin: 5px 4px;
	padding: 5px 5px;
	border-radius: 10px;
	border: none;
	font-size: 120%;
}

.bubble-box {
	display: none;
	position: relative;
	width: 300px;
	height: 240px;
	top: 40px;
	left: 180px;
	background: url(/static/images/bubble-box.png) no-repeat;
	background-size: 100% 100%;
	z-index: 1000;
}
#header .nav .bubble-box input {
	width: 260px;
	height: 24px;
	margin: 5px 15px;
	border-radius: 5px;
	font-size: 120%;
}
#header .nav .bubble-box input:focus {
	border: 1px solid #ccc;
}
#header .nav .bubble-box #login-btn {
	margin: 15px 0 0 185px;
	width: 100px;
	height: 33px;
	background-color: #d6d6d6;
}
#header .nav .bubble-box #login-btn:hover {
	background-color: #ccc;
}


/*--------------------------------------------*/
#body {
	float: left;
	background: #fff;
	width: 100%;
	min-width: 960px;
	clear: both;
	display: inline;
	border-bottom: 15px solid #fff;
}

.graph {
	float: left;
	width: 930px;
	height: 550px;
	border-radius: 15px;
	border: solid 1px #76a0c0;
	overflow: hidden;
}

iframe {
	float: left;
	width: 100%;
	height: 100%;
}
#loading {
	width: 100%;
	height: 100%;
	background-color: #9b9b9b;
	opacity: 0.4;
	font-size: 300%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    display: none;
}
#loading img {
	position: relative;
	top: -300px;
}

/*--------------------------------*/
.toolbar {
	float: left;
	width: 20px;
	padding-top: 20px;
}
.toolbar span {
	margin-bottom: 10px;
}
#search-result-btn {
	float: left;
	width: 20px;
	height: 60px;
	background-color: #ddd;
}
#show-follows-btn {
	float: left;
	width: 20px;
	height: 60px;
	background-color: #ddd;	
}

#search-result-box {
	display: none;
	width: 224px;
	position: relative;
	top: -60px;
	left: -230px;
	z-index: 100;
}
#search-result-box li {
	width: 100%;
	height: 30px;
	margin-bottom: 2px;
	color: #000;
	background-color: #eee;
}
#search-result-box li:hover {
	background-color: #ddd;
}